<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="app">
      <template>
        <ul>
          <li v-if="loaded" v-for="user, index in users">
            <p v-if="index === 0">First</p>
            <p>#{{ index + 1}} {{ user.name }} {{ user.age }}</p>
            <p v-for="value, property in user">{{ property }}: {{ value }}</p>
          </li>
          <p v-if="!loaded">Loading...</p>
        </ul>
      </template>

      <template>
        <p v-for="num in 10">{{ num }}</p>
      </template>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
      let app = new Vue({
          el: '#app',
          data: {
            loaded: false,
            users: []
          },
          mounted () {
            setTimeout(() => {
              this.users = [
                { name: 'Greg', age: 10 },
                { name: 'Adam', age: 20 },
                { name: 'Aaron', age: 30 },
              ]
              this.loaded = true
            }, 1000)
          }
      })
    </script>

  </body>
</html>
