<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="app">
      <num :number="{ value: 10 }"></num>
      <message></message>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
      let LowerCaseMessage = {
        props: [
          'message'
        ],
        template: `
          <p>{{ lcmessage }}</p>
        `,
        computed: {
          lcmessage() {
            return this.message.toLowerCase()
          }
        }
      }
      let Message = {
        data () {
          return {
            message: ''
          }
        },
        template: `
          <div>
            <input type="text" v-model="message">
            <lowercase-message :message="message"></lowercase-message>
          </div>
        `,
        components: {
          'lowercase-message': LowerCaseMessage
        }
      }
      let Num = {
        props: [
          'number'
        ],
        template: `
          <p>{{ number.value + 2 }}</p>
        `
      }
      let app = new Vue({
          el: '#app',
          components: {
            'num': Num,
            'message': Message
          }
      })
    </script>

  </body>
</html>
