<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="app">
      <form action="#" @submit.prevent="submit">
        <input type="text" id="name" v-model="form.name">
        <input type="text" id="name" v-model="form.email">
        <button type="submit">Submit</button>
        {{ form }}
      </form>
    </div>

    <script src="https://unpkg.com/vue"></script>

    <script>
      let app = new Vue({
          el: '#app',
          data: {
            name: null,
            form: {
              name: null,
              email: null,
              password: null
            }
          },
          methods: {
            submit () {
              console.log(this.name)
              // ajax send data
              console.log(this.form);
            }
          },
          mounted () {

          }
      })
    </script>

  </body>
</html>
